#div_persons_cherches{
	position: absolute;
	left: 0px;
  	width: 400px;
  	top: 150px;
	border: solid;
}

#div_groupes_cherches{
	position: absolute;
	left: 450px;
  	width: 250px;
  	top: 150px;
	border: solid;
}

#div_participants{
	position: absolute;
	left: 750px;
	width: 400px;
	top: 150px;
  	border: solid;
}

#div_documents{
	position: absolute;
	left: 100px;
	height: 200px;
	width: 300px;
	top: 300px;
}

#button_submit{
	position: absolute;
	right: 0px;
	top: 0px;
}