#div_persons_cherches{
	position: absolute;
	left: 0px;
  	width: 400px;
  	top: 200px;
	border: solid;
}

#div_groupes_cherches{
	position: absolute;
	left: 450px;
  	width: 250px;
  	top: 200px;
	border: solid;
}

#div_participants{
	position: absolute;
	left: 750px;
	width: 400px;
	top: 200px;
  	border: solid;
}

#div_documents{
	position: absolute;
	left: 100px;
	height: 200px;
	width: 300px;
	top: 300px;
}

#div_documents_ajoutes{
	position: absolute;
	right: 100px;
	height: 125px;
	width: 300px;
	top: 10px;
	border: solid;
}

#button_submit{
	position: absolute;
	right: 0px;
	top: 0px;
}

#tab_documents{
	height: 93px;
	width: 295px;
}
