.div_tableau_view_evenement{
	max-width: 800px;
}

.tableau_view_evenement{
	min-width: 800px;
}

.divDroite_view_evenement{
	position: absolute;
	left: 830px;
	overflow-y: scroll;
	border-width:1px;
 	border-style:dotted;
 	border-color:black;
}

.div_boutons_participation_view_evenement{
	position: absolute;
	top: 10px;
	left: 850px;
}

.div_documents_ajoutes_view_evenement{
	top: 0px;
	left: 980px;
	width: 350px;
	height: 235px;
}

.div_persons_cherches_view_evenement{
	top: 260px;
	width: 700px;
	height: 305px;
	left: 630px;
}
.input_recherche_personnes_view_evenement{
	width: 500px;
}

.div_groupes_cherches_view_evenement{
	top: 580px;
	left: 980px;
	width: 350px;
	max-height: 300px;
}

.div_descri_view_evenement{
	position: absolute;
	top: 230px;
	left: 10px;
}


.div_invites_view_evenement{
	position: absolute;
	left: 0px;
	width: 550px;
	top: 580px;
	max-height: 600px;
	overflow-y: scroll;
  	border-width:1px;
 	border-style:dotted;
 	border-color:black;
}

.div_participants_view_evenement{
	position: absolute;
	left: 550px;
	width: 430px;
	top: 580px;
	max-height: 600px;
	overflow-y: scroll;
  	border-width:1px;
 	border-style:dotted;
 	border-color:black;
}

.div_b_email_view_evenement{
	position: absolute;
	right: 0px;
  	top: 0px;
}


.tab_documents_view_evenement{
	position: absolute;
	left : 3px;
	height: 123px;
	width: 345px;
}

.div_file_upload_view_evenement{
	position: absolute;
	left: 0px;
	top: 870px;	
}
