#div_evenements{
	position: absolute;
	left: 0px;
  	width: 400px;
  	top: 150px;
	border: solid;
}

#div_sondages{
	position: absolute;
	left: 450px;
  	width: 600px;
  	top: 150px;
	border: solid;
}
