html {

}

body{
	margin: 0;
	padding: 0;
}

.container{
	position:absolute;
	width: auto;
	left: 25vh;
}

#titre{
	text-align: center;
	border-style: solid;
	  border-width: 2px;
	  margin-top: 0px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	 
}

#menu{
	float:left;
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 25vh;
	border-width:2px;
 	border-style:dotted;
	 border-color:black;
	 background: #F6FBD0;
}

#photo_profil{
	text-align: center;
	
}
.user_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;

}
.info_user_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	
}

.cat_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;

}
.lien_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;

}


