html {

}

body{
	margin: 0;
	padding: 0;
}

table {
 border-width:3px; 
 }
 
td,th { 
 padding: 10px;
 margin: 10px;
 }

.container{
	position:absolute;
	width: auto;
	left: 25vh;
}

#titre{
	text-align: center;
}

#menu{
	float:left;
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 25vh;
	border: solid;
}