html {

}

body{
	margin: 0;
	padding: 0;
	min-width: 90%;
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 }
 
td { 
 border-width:1px;
 border-style:solid; 
 border-color:black;
 }

.container{
	position:absolute;
	left: 25vh;
	border: solid;
	min-width: 80%;
	min-height: 80%;
}

#titre{
	text-align: center;
}

#menu{
	float:left;
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 25vh;
	border: solid;
}

#sondage_new{
	position:absolute;
    left: 40%;
}

#display_persons{
	float:left;
	position: absolute;
	left: 0;
	border: solid;
}

#div_creer_groupe{
	position: absolute;
	top: 0;
	right: 0;
	border: solid;
}