html {

}

body{
	margin: 0;
	padding: 0;
}

.container{
	position:absolute;
	left: 20%;
}

#titre{
	text-align: center;
}

#menu{
	float:left;
	position: absolute;
	top: 0;
	min-height: 100vh;
	min-width: 15%;
	border: solid;
}

#sondage_new{
	position:absolute;
    left: 40%;
}